<img class="img-fluid" width="100%" src="{{ section.settings.image.src | img_url: '' }}" alt="{{ section.settings.title | escape }}">
<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.sub_text }}</p>
<button>
    Jetzt einkaufen
</button>