<footer class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <a class=" " href="/">
        {% render 'icon-logo-dark' %}
    </a>

        <ul class="d-flex flex-column flex-lg-row align-items-center my-5 my-lg-0">
            {% assign footer_linklist = section.settings.footer.links %}
            {% for link in footer_linklist %}
                <li class="">
                    <a href="{{ link.url }}" class="text-white">
                        {{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
  
    <div class="footer__copyright caption">
        <small class="copyright__content">&copy;
            {{ 'now' | date: "%Y" }}
            vinyl</small>

    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
     
        {
            "type": "link_list",
            "id": "footer",
            "default": "footer",
            "label": "Footer Menu"
        }
    ]
}
{% endschema %}