<section aria-label="social proof abschnitt" id="social__proof__section">
    <div class="row">
        <div class="col-lg-6 | social__proof ">
            {% render "icon-quote" %}
            <p>
                I'm baby banjo readymade meditation ethical truffaut squid. Try-hard hashtag photo booth single-origin coffee edison bulb schlitz crucifix ascot street art.
            </p>
            <h2>
                Justus Jonas,
                <span>Musikgönner</span>
            </h2>
        </div>
        <div class="col-lg-6 | social__proof mt-lg-0">
            {% render "icon-quote" %}
            <p>
                Franzen leggings knausgaard messenger bag you probably haven't heard of them pickled subway tile. Venmo art party tousled crucifix viral lyft.
            </p>
            <h2>
                Peter Shaw,
                <span>Sänger</span>
            </h2>
        </div>
    </div>
</section>